<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href=<ここに回答を記入>>
    <link rel="icon" href="../static/images/favicon.ico">

    <title>オリジナル開発前ゼミ</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href='/'>言語ネガポジ分類</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <ここに回答を記入>
    <footer>
        <div class="footer_logo">©︎ GeekSalon_オリジナル開発前ゼミ</div>
    </footer>
</body>

</html>